@{
    ViewData["Title"] = "Home Page";
    ViewData["Heading"] = "Favorite Books";
}

@model BookListViewModel

<table class="table table-striped thead-dark tableCustom">
    <tr>
        <th>Book ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>ISBN</th>
        <th>Classification</th>
        <th>Category</th>
        <th>Number of Pages</th>
        <th>Price</th>
    </tr>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.BookId</td>
            <td>@book.Title</td>
            <td>@book.AuthorLastName, @book.AuthorFirstName</td>
            <td>@book.Publisher</td>
            <td>@book.ISBN</td>
            <td>@book.Classification</td>
            <td>@book.Category</td>
            <td>@book.NumPages</td>
            @if (book.Price < 10)
            {
                <td class="badge badge-danger mt-1">$@book.Price</td>
            }
            else
            {
                <td>$@book.Price</td>
            }


        </tr>
    }

</table>


<div class="mt-5" page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn ml-1 mr-1 pl-3 pr-3 mb-5" page-class-normal="btn-outline-secondary" page-class-selected="btn-info">

</div>

@* /////////////////////////////////////////////////////////////////////
    NEW BOOTSTRAP CLASSES USED FOR ASSIGNMENT 6

    btn-info
    ml-1, mr-1, pl-3, pr-3

    pagination, justify-content-center  *** Find these classes in PageLinkTagHelp.cs - line 81

    badge badge-danger

    /////////////////////////////////////////////////////////////////////*@