@page
@model IS413_BookStore.Pages.PurchaseModel
@{
    ViewData["Title"] = "Cart";
    ViewData["Heading"] = "Shopping Cart";
}
<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="">@line.Book.Title</td>
                <td class="">@line.Book.AuthorLastName, @line.Book.AuthorLastName</td>
                <td class="">$@line.Book.Price</td>
                <td class="">@line.Quantity</td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us")))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="bookId"
                                value="@line.Book.BookId" />
                        <input type="hidden" name="returnUrl"
                                value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            <img src="img/trash.svg" />
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.ComputeTotalSum().ToString("c", System.Globalization.CultureInfo.GetCultureInfo("en-us"))</td>
        </tr>
    </tfoot>

</table>

<div class="m-auto">
    <a class="btn btn-info mt-4" href="@Model.ReturnUrl">Continue Shopping</a>
</div>
<br />

<div class="m-auto">
    <a class="btn text-secondary" href="">Empty Cart</a>
</div>

